<aside class="main-sidebar " id="navigation-bar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <ul id="sidebar-list" class="sidebar-menu admin ">
            <li class="treeview accordian">
                <a class="tab-active"  [routerLink]="['student-performance']">
                    <i class="fa fa-bar-chart "></i>
                    <span>Student Performance</span>
                    
                </a>
            </li>
            <li class="treeview accordian">
                <a class="tab-active"  [routerLink]="['student-performance-mentor']">
                    <i class="fa fa-bar-chart "></i>
                    <span>Student Performance Mentor</span>
                    
                </a>
            </li>
            <li class="treeview accordian">
                <a class="tab-active"  [routerLink]="['performance-configuration']">
                    <i class="fa fa-bar-chart "></i>
                    <span>Performance Configuration</span>
                    
                </a>
            </li>
            
        </ul>
    </section>
</aside>