<div class="row">
    <div class="col-md-2">
        <mat-label>Academic Year</mat-label>
        <mat-select>
            <mat-option *ngFor = "let academic of academicYear" [value]="academic">{{academic}}</mat-option>
        </mat-select>
    </div>
    <div class="col-md-2">
        <mat-label>Department</mat-label>
        <mat-select>
            <mat-option *ngFor = "let department of departments" [value]="department">{{department}}</mat-option>
        </mat-select>
    </div>
    <div class="col-md-2">
        <mat-label>Semester</mat-label>
        <mat-select>
            <mat-option *ngFor = "let semester of semesters" [value]="semester">{{semester}}</mat-option>
        </mat-select>
    </div>
    <div class="col-md-2">
        <mat-label>Section</mat-label>
        <mat-select>
            <mat-option *ngFor = "let section of sections" [value]="section">{{section}}</mat-option>
        </mat-select>
    </div>
    <div class="col-md-4"></div>

</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Student Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="USN">
        <th mat-header-cell *matHeaderCellDef> USN </th>
        <td mat-cell *matCellDef="let element"> {{element.USN}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="course_mentor">
        <th mat-header-cell *matHeaderCellDef> Mentor </th>
        <td mat-cell *matCellDef="let element"> {{element.course_mentor}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="course_self">
        <th mat-header-cell *matHeaderCellDef> Self </th>
        <td mat-cell *matCellDef="let element"> {{element.course_self}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[1,2,3]" showFirstLastButtons></mat-paginator>
  </div>